* {
    box-sizing: border-box;
    overflow-x: hidden;
}


/*Estilos de etiquetas*/

body {
    font-family: 'Roboto Slab', sans-serif;
    margin: 0;
    text-align: justify;
    width: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

h1 {
    font-family: 'Eczar', sans-serif;
    color: #1B5E4F;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    margin-top: .5rem;
}

h2 {
    color: #601004;
    font-size: 1.5rem;
    text-align: center;
}


/******** HEADER, FOOTER Y MENÚ LATERAL COMÚN EN TODAS LAS PÁGINAS *********/

div#menu-lateral {
    position: absolute;
    background-color: #601004;
    color: white;
    width: 100%;
    z-index: 4;
    height: 100%;
    display: none;
}

div#menu-lateral>ul {
    list-style: none;
}

div#menu-lateral>ul>li {
    margin: 3rem 0;
}

div#menu-lateral>ul>li:nth-child(1) {
    margin: 0;
    margin-bottom: 5rem;
    margin-top: 1rem;
    margin-right: .75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

div#menu-lateral>ul>li>a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

div#menu-lateral>ul>li>a>img {
    width: 3rem;
    height: auto;
    margin-right: .5rem;
}

header {
    width: 100%;
    z-index: 3;
}

header>div#cabecera {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 1rem 0;
}

header>div#cabecera>div#hamburger {
    padding-left: 1rem;
}

header>div#cabecera>div#hamburger>span {
    font-size: 2rem;
}

header>div#cabecera>a>picture>img {
    width: 12rem;
    height: auto;
}

header>div#cabecera>div#icon-mail {
    padding-right: 1rem;
}

header>div#cabecera>div#icon-mail>a>span {
    font-size: 1.5rem;
    color: white;
}

header>nav#menu-principal {
    display: none;
}

header>nav#menu-principal>ul {
    list-style: none;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #601004;
    color: white;
    padding: 1.5rem 0;
    font-size: .75rem;
    position: absolute;
    bottom: 0;
}

footer>div#menu-legal>ul {
    list-style: none;
    margin-left: -1.5rem;
}

a#go-up {
    position: fixed;
    right: 0;
    bottom: 0;
    display: none;
}

a#go-up>i {
    font-size: 3rem;
    color: #601004;
    background-color: white;
    border-radius: 2rem;
}

a#go-up>i:hover {
    cursor: pointer;
}


/************ Contenido ************/

div#contenido {
    width: 100%;
    margin-bottom: 12rem;
}

div#contenido>section#articulo1,
section#articulo2,
section#articulo3 {
    margin: 0 1.2rem;
    margin-bottom: 1rem;
}

div#contenido img {
    width: 100%;
    height: auto;
}


/*Version Tablet*/

@media all and (min-width: 600px) {
    header>nav#menu-principal {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: .5rem;
    }
    header>nav#menu-principal>ul>li:last-child {
        display: none;
    }
    header>nav#menu-principal>ul {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
    }
    header>nav#menu-principal>ul>li {
        background-color: black;
        padding: .5rem 2rem;
        width: 19%;
        text-align: center;
        font-size: .7rem;
    }
    header>nav#menu-principal>ul>li>a {
        color: white;
        text-decoration: none;
    }
    header>div#cabecera>div#hamburger>span {
        display: none;
    }
    header>nav#menu-principal {
        margin-top: -.1rem;
    }
    header>nav#menu-principal>ul>li:nth-child(1) {
        background-color: #601004;
    }
    div#contenido {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    div#contenido h1,
    h2 {
        width: 100%;
    }
    div#contenido>section {
        width: 35%;
    }
    div#contenido section#articulo1 {
        width: 80%;
    }
    footer>div#menu-legal>ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 70%;
        margin: 2.5rem auto;
    }
}


/*Versión ordenador*/

@media all and (min-width: 900px) {
    header>div#cabecera>div#icon-mail>a {
        display: none;
    }
    header>nav#menu-principal {
        margin-top: -.1rem;
    }
    header>nav#menu-principal>ul>li:last-child {
        display: flex;
        justify-content: center;
    }
    header>nav#menu-principal>ul>li:last-child>a {
        display: flex;
        align-items: center;
    }
    header>nav#menu-principal>ul>li:last-child>a>span {
        margin-left: 1rem;
    }
    header>nav#menu-principal>ul>li:last-child>a>span:first-child {
        font-size: 1.2rem;
    }
    header>nav#menu-principal>ul>li {
        width: 16%;
        font-size: .9rem;
    }
    div#contenido>section#articulo1 {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div#contenido>section#articulo1>img {
        width: 50%;
    }
}